<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="reset.css">
</head>
<body>
<div contentEditable="true" class="pge-art">
    <picture class="p-img">
        <img src="../images/example.png" alt="Title"/>
    </picture>
    <h1>Titulo</h1>
    <p></p>
    <!--more-->
    <div id="indx">
        <div>&Iacute;ndice<span>[<span id="toggleIndx" onclick="toggleIndx()">ocultar</span>]</span></div>
        <ul>
            <!-- <li><a href="#sub-1">Arquitectura del Motor.</a></li> -->
        </ul>
    </div>
    <p></p>
</div>
</body>
</html>